.kotlin/
.gradle/
build/
**/build/
Captures/
.externalNativeBuild/
.cxx/
local.properties

.konan/

*.iml
*.ipr
*.iws
.idea/
/out/

# !.idea/runConfigurations/

**/iosApp/DerivedData/
**/iosApp/Build/
**/iosApp/index.xcodeproj/xcuserdata/
**/iosApp/index.xcworkspace/xcuserdata/
**/iosApp/.generated/

**/iosApp/Pods/
**/iosApp/.symlinks/
**/iosApp/Podfile.lock

*.moved-aside
*.xcuserstate
*.xccheckout
*.xcscmblueprint

*.keystore
*.jks
*.p12
google-services.json
GoogleService-Info.plist
*.properties
!gradle.properties

.DS_Store
Thumbs.db